@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */

        .ng-hide {
            display: none !important;
        }
    </style>
    <title ng-bind="title">
        EI
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <base href="@string.Format("{0}{1}/{2}/",Request.Url.GetLeftPart(UriPartial.Authority),(Request.ApplicationPath=="/"?"":Request.ApplicationPath), System.Configuration.ConfigurationManager.AppSettings["AngularBuild"])" />

    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/custom.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/rd-mailform.css">
    <!-- endbuild -->
    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body class="clearfix">

    <div class="ui-view-container">
        <div ui-view></div>
    </div>
  
    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/extras.angular.plus/ngplus-overlay.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/angular-include-replace/angular-include-replace.js"></script>
    <script src="../bower_components/toastr/toastr.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/devicejs/lib/device.js"></script>
    <script src="../bower_components/jquery-migrate/jquery-migrate.js"></script>
    <script src="../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script src="../bower_components/angular-encode-uri/dist/angular-encode-uri.js"></script>
    <script src="../bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    

    <!-- build:js js/app.js -->
    <!-- inject:js -->

    
    <script src="app/app.module.js"></script>

    
    <script src="app/about/about.module.js"></script>

    
    <script src="app/blocks/exception/exception.module.js"></script>

    
    <script src="app/blocks/logger/logger.module.js"></script>

    
    <script src="app/blocks/router/router.module.js"></script>

    
    <script src="app/core/core.module.js"></script>

    
    <script src="app/gallery/gallery.module.js"></script>

    
    <script src="app/layout/layout.module.js"></script>

    
    <script src="app/services/services.module.js"></script>

    
    <script src="app/store/store.module.js"></script>

    
    <script src="app/widgets/widgets.module.js"></script>

    
    <script src="app/about/about.controller.js"></script>

    
    <script src="app/about/about.dataservice.js"></script>

    
    <script src="app/about/about.route.js"></script>

    
    <script src="app/about/event-list.controller.js"></script>

    
    <script src="app/about/news.controller.js"></script>

    
    <script src="app/about/reports.controller.js"></script>

    
    <script src="app/about/testimonials.controller.js"></script>

    
    <script src="app/app.bootstrap.js"></script>

    
    <script src="app/app.route.js"></script>

    
    <script src="app/blocks/exception/exception-handler.provider.js"></script>

    
    <script src="app/blocks/exception/exception.js"></script>

    
    <script src="app/blocks/logger/logger.js"></script>

    
    <script src="app/blocks/router/router-helper.provider.js"></script>

    
    <script src="js/camera.js"></script>

    
    <script src="app/core/config.js"></script>

    
    <script src="app/core/constants.js"></script>

    
    <script src="app/core/core.route.js"></script>

    
    <script src="app/core/dataservice.js"></script>

    
    <script src="app/gallery/events.controller.js"></script>

    
    <script src="app/gallery/gallery.controller.js"></script>

    
    <script src="app/gallery/gallery.dataservice.js"></script>

    
    <script src="app/gallery/gallery.route.js"></script>

    
    <script src="app/gallery/posters.controller.js"></script>

    
    <script src="js/jquery-migrate-1.2.1.min.js"></script>

    
    <script src="js/jquery.cookie.js"></script>

    
    <script src="js/jquery.easing.1.3.js"></script>

    
    <script src="js/jquery.equalheights.js"></script>

    
    <script src="js/mailform/jquery.form.min.js"></script>

    
    <script src="js/jquery.mobile.customized.min.js"></script>

    
    <script src="js/jquery.rd-google-map.js"></script>

    
    <script src="js/mailform/jquery.rd-input-label.js"></script>

    
    <script src="js/mailform/jquery.rd-mailform.js"></script>

    
    <script src="js/mailform/jquery.rd-mailform.min.js"></script>

    
    <script src="js/jquery.rd-navbar.js"></script>

    
    <script src="js/jquery.rd-parallax.js"></script>

    
    <script src="js/jquery.responsive.tabs.js"></script>

    
    <script src="js/jquery.touch-touch.js"></script>

    
    <script src="js/jquery.ui.accordion.min.js"></script>

    
    <script src="js/jquery.ui.totop.js"></script>

    
    <script src="app/layout/content-footer.directive.js"></script>

    
    <script src="app/layout/content-shell.controller.js"></script>

    
    <script src="app/layout/content-top-nav.directive.js"></script>

    
    <script src="app/layout/home.controller.js"></script>

    
    <script src="app/layout/top-nav.directive.js"></script>

    
    <script src="app/other/other.controller.js"></script>

    
    <script src="js/owl.carousel.min.js"></script>

    
    <script src="app/services/services.controller.js"></script>

    
    <script src="app/services/services.route.js"></script>

    
    <script src="app/store/basket.controller.js"></script>

    
    <script src="app/store/book-detail.controller.js"></script>

    
    <script src="app/store/books.controller.js"></script>

    
    <script src="app/store/free-downloads.controller.js"></script>

    
    <script src="app/store/leaflet-detail.controller.js"></script>

    
    <script src="app/store/leaflets.controller.js"></script>

    
    <script src="app/store/paypal-controller.js"></script>

    
    <script src="app/store/store.controller.js"></script>

    
    <script src="app/store/store.dataservice.js"></script>

    
    <script src="app/store/store.route.js"></script>

    
    <script src="js/superfish.js"></script>

    
    <script src="js/TMSearch.js"></script>

    
    <script src="js/tmstickup.js"></script>

    
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->

    <script src="gallery/jbcore/juicebox.js"></script>
</body>
</html>