
<section class="well13">
    <div id="reports" class="container">
        <h4 id="reports" class="main-header">
            Reports
        </h4>
        <h5 class="sub-header">
            Secondary text here
            <hr />
        </h5>
        <div data-ng-repeat="report in vm.reports.slice(((vm.currentPage-1)*vm.maxSize),((vm.currentPage)*vm.maxSize))" class="col-xs-12 list-div">

            <div class="row box-shadow">
                <div class="col-xs-1 list-image" style="padding-left:0px;">
                    <img class="img-responsive" src="images/reports/1_r1.jpg">
                </div>
                <div class="col-xs-11">
                    <div class="list-item">
                        <p class="list-title">{{report.Name}}</p>
                        <p class="list-date">{{report.DateSubmitted | date:'dd MMMM yyyy'}}</p>
                        <p class="list-desc">{{report.Description}}</p>
                        <a href="{{'resources/' + report.DownloadPath}}" class="btn btn-primary btn-sm btn-responsive small-margin-top" download>
                            <span class="glyphicon glyphicon-download-alt"></span>
                            <span>Download PDF</span>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="list-separator">
        </div>
        <div class="fa fa-spinner fa-spin col-xs-offset-6" style="font-size:50px" ng-show="vm.loading"></div>
        <uib-pagination class="pagination-lg" boundary-links="true" ng-show="vm.reports.length > vm.maxSize"
                        total-items="vm.reports.length" ng-change="vm.goToTop()" ng-model="vm.currentPage" max-size="vm.maxSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</section>