<footer class="footer1">
    <section class="well14 center991">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <ul class="list list-2">
                        <li>
                            <a ui-sref="home">Home</a>
                        </li>
                        <li class="dropdown" ui-sref-active="active">
                            <a class="dropdown-toggle" ui-sref="content.about.what-we-do">About</a>

                        </li>
                        <li class="dropdown" ui-sref-active="active">
                            <a ui-sref="content.services.exhibition-hire">Services</a>

                        </li>
                        <li class="dropdown" ui-sref-active="active">
                            <a ui-sref="content.gallery.events">Gallery</a>

                        </li>
                        <li class="dropdown">
                            <a href="index-4.html">Store</a>

                        </li>
                        <li>
                            <a href="index-4.html">Support Us</a>
                        </li>
                        <li>
                            <a href="index-4.html">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <h6>
                        Newsletter
                    </h6>

                    <form class='rd-mailform subscribe' method="post" action="bat/rd-mailform.php">
                        <!-- RD Mailform Type -->
                        <input type="hidden" name="form-type" value="subscribe" />
                        <!-- END RD Mailform Type -->
                        <div class="form-group">
                            <label class="form-label" data-add-placeholder for="mailform-input-email">E-mail</label>
                            <input id="mailform-input-email"
                                   type="text"
                                   name="email"
                                   data-constraints="@NotEmpty @Email" />
                        </div>
                        <div class="form-group btn-wr">
                            <button class="fa-angle-right" type="submit"></button>
                            <div class="mfInfo"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container center991">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <p class="rights">
                        Exhibition Islam&#169; <span id="copyright-year"></span>
                        <a href="index-5.html">Privacy Policy</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <ul class="inline-list inline-list-2">
                        <li>
                            <a href="#" class="fa fa-facebook">facebook</a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter">twitter</a>
                        </li>
                        <li>
                            <a href="#" class="fa  fa-google-plus">google-plus</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

</footer>