<header class="header-1" style="background-image:url('images/gold_1.jpg');background-repeat: repeat-x;">
    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand hidden-xs">
                    <a ui-sref="home">exhibition islam</a>
                </h1>
            </div>
            <nav class="navbar navbar-default navbar-static-top ">
                <ul class="navbar-nav sf-menu" data-type="navbar">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a class="dropdown-toggle" ui-sref="content.about.what-we-do">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.about.what-we-do">What we do</a>
                            </li>
                            <li>
                                <a ui-sref="content.about.portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a ui-sref="content.about.reports">Reports</a>
                            </li>
                            <li>
                                <a ui-sref="content.about.events">Events</a> 
                            </li>
                            <li>
                                <a ui-sref="content.about.news">News</a>
                            </li>
                            <li>
                                <a ui-sref="content.about.testimonials">Testimonials</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a ui-sref="content.services.exhibition-hire">Services</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.services.exhibition-hire">Exhibition Booking</a>
                            </li>
                            <li>
                                <a ui-sref="content.services.graphic-design">Graphic Design</a>
                            </li>
                            <li>
                                <a ui-sref="content.services.permanent-build">Permanent Build</a>
                            </li>
                            <li>
                                <a ui-sref="content.services.design-and-printing">Design & Printing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a ui-sref="content.gallery.events">Gallery</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.gallery.events">Events</a>
                            </li>
                            <li>
                                <a ui-sref="content.gallery.posters">Posters</a>
                            </li>
                            <li>
                                <a ui-sref="content.gallery.models">Models</a>
                            </li>
                            <li>
                                <a ui-sref="content.gallery.publications">Publications</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a ui-sref="content.store.books">Store</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.store.books">Publications</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.posters">Posters</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.leaflets">Leaflets</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.stock-photos">Stock Photos</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.hardware">Hardware</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.free-downloads">Free Downloads</a>
                            </li>
                        </ul>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="content.support">Support Us</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="content.contact">Contact</a>
                    </li>
                    <li class="dropdown" ui-sref-active="active" ng-if="vm.basket.length > 0">
                        <a ui-sref="content.store.basket" class="btn btn-xs btn-responsive"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge tiny-margin-left tiny-margin-bottom">{{vm.totalItems}}</span></a>
                        <!--<ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.store.basket">View Basket</a>
                            </li>
                            <li>
                                <a ui-sref="content.store.paypal-processing({invoice:vm.invoice})">Paypal Checkout</a>
                            </li>
                        </ul>-->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>