<header class="header-1" style="height:24px">
    <div id="stuck_container" class="stuck_container">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand hidden-xs">
                    <a href="./">exhibition islam</a>
                </h1>
            </div>
            <nav class="navbar navbar-default navbar-static-top ">
                <ul class="navbar-nav sf-menu" data-type="navbar">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a class="dropdown-toggle" ui-sref="content.about.what-we-do">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.about.what-we-do">What we do</a>
                            </li>
                            <li>
                                <a ui-sref="content.about.portfolio">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Reports</a>
                            </li>
                            <li>
                                <a href="#">In the News</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a ui-sref="content.services.exhibition-hire">Services</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.services.exhibition-hire">Exhibition Hire</a>
                            </li>
                            <li>
                                <a ui-sref="content.services.graphic-design">Graphic Design</a>
                            </li>
                            <li>
                                <a href="#">Permanent Build</a>
                            </li>
                            <li>
                                <a href="#">Publication Design</a>
                            </li>
                            <li>
                                <a href="#">Printing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a ui-sref="content.gallery.events">Gallery</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="content.gallery.events">Events</a>
                            </li>
                            <li>
                                <a ui-sref="content.gallery.posters">Posters</a>
                            </li>
                            <li>
                                <a href="#">Models</a>
                            </li>
                            <li>
                                <a href="#">Publications</a>
                            </li>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index-4.html">Store</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Publications</a>
                            </li>
                            <li>
                                <a href="#">Posters</a>
                            </li>
                            <li>
                                <a href="#">Leaflets</a>
                            </li>
                            <li>
                                <a href="#">Stock Photos</a>
                            </li>
                            <li>
                                <a href="#">Hardware</a>
                            </li>
                            <li>
                                <a href="#">Free Downloads</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index-4.html">Support Us</a>
                    </li>
                    <li>
                        <a href="index-4.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>