<footer class="footer1" style="background-color:#343434;color:white">
    <section class="well14 center991">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <ul class="list list-2">
                        <li>
                            <a ui-sref="home">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" ui-sref="content.about.what-we-do">About</a>
                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.services.exhibition-hire">Services</a>

                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.gallery.events">Gallery</a>

                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.store.books">Store</a>
                        </li>
                        <li>
                            <a ui-sref="content.support">Support Us</a>
                        </li>
                        <li>
                            <a ui-sref="content.contact">Contact</a>
                        </li>
                        <li>
                            <a ui-sref="content.disclaimer">Disclaimer</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <h6 style="color:white">
                        Newsletter
                    </h6>

                    <form class='rd-mailform subscribe' ng-submit="vm.submitEmail()">
                        <!-- RD Mailform Type -->
                        <input type="hidden" name="form-type" value="subscribe" />
                        <!-- END RD Mailform Type -->
                        <div class="form-group">
                            <label class="form-label"></label>
                            <input id="mailform-input-email"
                                   type="email"
                                   name="email"
                                    placeholder="Email" ng-model="vm.email" required />
                        </div>
                        <div class="form-group btn-wr">
                            <button class="fa-angle-right" type="submit"></button>
                            <div class="mfInfo"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container center991">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <p class="rights">
                        Exhibition Islam &#169; <span id="copyright-year"></span>
                        <a ui-sref="content.privacy-policy">Terms and Conditions</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <ul class="inline-list inline-list-2">
                        <li>
                            <a href="https://www.facebook.com/Exhibition-Islam-8418517249/" target="_blank" class="fa fa-facebook">facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/exhibitionislam?lang=en-gb" target="_blank" class="fa fa-twitter">twitter</a>
                        </li>
                        <li>
                            <label class="fa  fa-google-plus">google-plus</label>
                        </li>
                        <li style="padding-left:5px">
                            <a href="https://www.linkedin.com/in/exhibition-islam-a64036120" target="_blank" class="fa  fa-linkedin">linkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

</footer>