<div class="page" id="mainDiv" style="font-family:'Raleway'">

    <header class="">
        <div id="stuck_container" class="stuck_container">
            <div class="container-fluid">
                <nav class="navbar navbar-default navbar-static-top ">
                    <ul class="navbar-nav sf-menu" data-type="navbar">
                        <li class="active">
                            <a ui-sref="home">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" ui-sref="content.about.what-we-do">About</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="content.about.what-we-do">What we do</a>
                                </li>
                                <li>
                                    <a ui-sref="content.about.portfolio">Portfolio</a>
                                </li>
                                <li>
                                    <a ui-sref="content.about.reports">Reports</a>
                                </li>
                                <li>
                                    <a ui-sref="content.about.events">Events</a>
                                </li>
                                <li>
                                    <a ui-sref="content.about.news">News</a>
                                </li>
                                <li>
                                    <a ui-sref="content.about.testimonials">Testimonials</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.services.exhibition-hire">Services</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="content.services.exhibition-hire">Exhibition Hire</a>
                                </li>
                                <li>
                                    <a ui-sref="content.services.graphic-design">Graphic Design</a>
                                </li>
                                <li>
                                    <a ui-sref="content.services.permanent-build">Permanent Build</a>
                                </li>
                                <li>
                                    <a ui-sref="content.services.design-and-printing">Design & Printing</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.gallery.events">Gallery</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="content.gallery.events">Events</a>
                                </li>
                                <li>
                                    <a ui-sref="content.gallery.posters">Posters</a>
                                </li>
                                <li>
                                    <a ui-sref="content.gallery.models">Models</a>
                                </li>
                                <li>
                                    <a ui-sref="content.gallery.publications">Publications</a>
                                </li>
                                <li>
                                    <a ui-sref="content.gallery.facebook">Facebook</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a ui-sref="content.store.books">Store</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="content.store.books">Publications</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.posters">Posters</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.leaflets">Leaflets</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.stock-photos">Stock Photos</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.hardware">Hardware</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.free-downloads">Free Downloads</a>
                                </li>
                            </ul>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="content.support">Support Us</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="content.contact">Contact</a>
                        </li>
                        <li class="dropdown" ui-sref-active="active" ng-if="vm.basket.length > 0">
                            <a usref="" class="btn btn-xs btn-responsive"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge tiny-margin-left tiny-margin-bottom">{{vm.totalItems}}</span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="content.store.basket">View Basket</a>
                                </li>
                                <li>
                                    <a ui-sref="content.store.paypal-processing({invoice:vm.invoice})">Paypal Checkout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <section class="ins2">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a ui-sref="home">exhibition islam</a>
                        <small>
                            #pioneers
                        </small>
                    </h1>
                </div>

            </div>
            <div class="pull-right social">
                <ul class="inline-list">
                    <li>
                        <a href="#" class="social-no-mobile">
                            <img width="100" height="100" src="images/logo_white.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-facebook">facebook</a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter">twitter</a>
                    </li>
                    <li>
                        <a href="#" class="fa  fa-google-plus">google-plus</a>
                    </li>
                    <li style="padding-left:5px">
                        <a href="#" class="fa  fa-linkedin">linkedIn</a>
                    </li>
                </ul>
            </div>
        </section>

    </header>
    <main>
        <section class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            <div class="well col-xl-6 col-lg-8 col-md-8 ins3">

                                <a ui-sref="content.services.exhibition-hire">
                                    <h5>Book</h5><h4>
                                        your exhibition
                                    </h4>
                                </a>

                                <p class="ins4">
                                    Exhibition Islam is an independent, UK based organisation that specialises in the development and delivery of Islamic faith exhibitions
                                    and events. <span class="text-uppercase">DRIVEN BY OUR VISION AND VALUES,</span>our highly experienced exhibition team  helps you manage
                                    the entire exhibition planning process, from event concept to site selection, design, event management and print services.
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-4 col-md-4 col-no-gutter">
                                <div class="image-wrapper well1 bg-image bg-image-1">
                                </div>
                            </div>
                            <!--</div>-->
                            <!--<div class="col-lg-12 well2 parallax text-center" data-url="images/page-1_img04.jpg"-->
                            <!--data-mobile="true"-->
                            <!--data-speed="0.6">-->
                            <div class="col-lg-12 well2 bg-image bg-image-2 bg-fixed text-center">
                                <!--<div class="col-md-12">-->

                                <a ui-sref="content.gallery.events"><h4>Gallery </h4></a>

                                <p class="lead maw-width">
                                    See what we have been up to. View our event gallery to catch up on the latest events.
                                </p>
                            </div>
                            <div class="well col-lg-12 ins3">
                                <a ui-sref="content.services.exhibition-hire">
                                    <h4>
                                        Services
                                    </h4>
                                </a>
                                <h6>
                                    Exhibition Islam offers a range of exciting services making it easier for you organise your events.
                                    All we need to know are your ambitions for your event, and our experienced team will help you deliver your ideal event.
                                </h6>
                                <p>
                                    Exhibition Islam offers a broad range of services that are affordable, easy to access and delivered to the highest standard.
                                    Our team work alongside professional designers, printers and exhibition hardware providers to offer you a stress-free solution
                                    to your exhibition and event management needs. With over 20 years in the field, we have the maturity and experience to help you
                                    every step of the way in creating and delivering your exhibition.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="well5 col-lg-12  bg-image bg-image-11">
                                <!--<div class="col-lg-12 well4 parallax ins3 center991" data-url="../srcimages/page-1_img03.jpg"
                                     data-mobile="true"
                                     data-speed="0.5">-->
                                <a ui-sref="content.about.events">
                                    <h5>
                                        Events
                                    </h5>
                                    <h4>
                                        schedule
                                    </h4>
                                </a>
                                <h6>
                                    Want to find out if we are coming to a venue near you, or just want to keep updated
                                    about event dates & locations. View our Event schedule to track our movements.
                                </h6>
                            </div>
                            <div class="well5 col-lg-12  bg-image bg-image-3">
                                <!--<div class="col-lg-12 well5 parallax" data-url="images/page-1_img05.jpg"-->
                                <!--data-mobile="true"-->
                                <!--data-speed="0.4" data-direction="inverse">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="well6 parallax" data-url="images/page-1_img06.jpg" data-mobile="true" data-speed="0.6">-->
        <section class="well6 bg-image bg-image-9 bg-fixed center991">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-6">
                        <a ui-sref="content.store.books">
                            <h3>
                                Online
                            </h3>
                            <h2>
                                store
                            </h2>
                        </a>
                        <p class="">
                            Exhibition Islam has published a range of leading books, magazines and leaflets on various aspects
                            of the Islamic faith.  These unique and highly informative publications can be ordered directly via
                            our online store, or be purchase in-store at stockists across the nation. We also deliver our publications
                            globally, and have welcome wholesale enquiries.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12 center-md well7 ins3">
                        <a ui-sref="content.about.testimonials">
                            <h4>
                                People say
                            </h4>
                        </a>
                        <h5>
                            WE CONNECT WITH OUR EVENT PARTNERS
                            TO DELIVER EXHIBITIONS THAT INSPIRE CONFIDENCE AND BELIEF
                        </h5>
                        <blockquote>
                            <p style="color:black">
                                "{{vm.quote.SDescription}}"
                            </p>
                        </blockquote>
                        <p>
                            <b>{{vm.quote.Name}}</b>
                        </p>
                        <p class="list-meta-data">
                            {{vm.quote.Designation}}
                        </p>
                        <p class="pull-right">
                            <a class="link" ui-sref="content.about.testimonials">more testimonials</a>&nbsp;<span class="glyphicon glyphicon-forward"></span>
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-12 min-height bg-image-variant parallax bg-image-4" data-url="">
                        <div class="row">
                            <!--<div class="col-lg-6">-->
                            <!--</div>-->
                            <div class="col-md-6 col-md-offset-6 col-sm-12 center991 well ins3 ins5">
                                <h5>
                                    Museums
                                </h5>
                                <h4>
                                    and galleries
                                </h4>
                                <p>
                                    The Exhibition Islam Museum Collection boasts a comprehensive collection of ancient manuscripts from across the world,
                                    ranging from China to Spain and spanning over 1400 years - the entire period of Islamic civilisation.
                                </p>
                                <h6>
                                    Mint
                                </h6>
                                <p>
                                    The Exhibition Islam Coin collection showcases exquisite Islamic coinage which represents Muslim interaction with Europe
                                    for over a Millennium. Coin collections from a range a regions display just how prolific adaptable Muslim communities were to new realities.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 min-height-2 bg-image bg-image-5">
                    </div>
                    <div class="col-lg-8 col-md-12 min-height-2 bg-image bg-image-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-12 center991 well9 ins3">
                                <a ui-sref="content.services.design-and-printing">
                                    <h5>
                                        Design
                                    </h5>
                                    <h4>
                                        and print
                                    </h4>
                                </a>
                                <h6>
                                    Our experienced team provides comprehensive, responsive, high-quality, value for money design and print services to clients.
                                    We design and print posters, flyers, indoor and outdoor banners, and publications.

                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="well6 bg-image bg-image-10 bg-fixed center991">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-6">
                        <a ui-sref="content.support">
                            <h4>
                                Support Us
                            </h4>
                        </a>
                        <p class="">
                            Your support is vital in enabling Exhibition Islam to fulfil its mission to share its exhibition with the world.
                            Exhibition Islam relies on funding from the public and there are many ways that you can donate to help ensure our
                            displays and resources are provided the correct care in order to be preserved for future generations.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container-fluid">
                <div class="row">
                    <!--<div class="col-lg-8 col-md-12">-->
                    <!--<div class="row">-->
                    <div class="col-xl-12 col-lg-4 col-xs-12 text-center left-xl well10 ins-xl ins3">
                        <h5>
                            Our clients
                        </h5>
                        <h4>
                            and partners
                        </h4>
                        <ul class="list-inline partners">
                            <li>
                                <img src="images/logos/logo1.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo2.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo3.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo4.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo5.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo6.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo7.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo8.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo9.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo10.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo11.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo12.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo13.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo14.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo15.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo16.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo17.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo18.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo19.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo20.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo21.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo22.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo23.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo24.jpg" />
                            </li>
                            <li>
                                <img src="images/logos/logo25.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
        <section class="">
            <!--<div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-sm-6 col-no-gutter">
                        <a class="thumb" href="images/page-1_img12_original.jpg" data-gallery="1">
                            <img src="images/page-1_img12.jpg" alt="" />
                            <span class="thumb_overlay"></span>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-sm-6 col-no-gutter">
                        <a class="thumb" href="images/page-1_img13_original.jpg" data-gallery="1">
                            <img src="images/page-1_img13.jpg" alt="" />
                            <span class="thumb_overlay"></span>
                        </a>
                    </div>
                </div>
            </div>-->
        </section>
    </main>
    <!--========================================================
                            FOOTER
    =========================================================-->
    <content-footer></content-footer>
</div>
