<header class="">
    <div id="stuck_container" class="stuck_container">
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-static-top ">
                <ul class="navbar-nav sf-menu" data-type="navbar">
                    <li class="active">
                        <a href="./">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="index-1.html">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">What we do</a>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Reports</a>
                            </li>
                            <li>
                                <a href="#">In the News</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index-23.html">Services</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Exhibition Hire</a>
                            </li>
                            <li>
                                <a href="#">Graphic Design</a>
                            </li>
                            <li>
                                <a href="#">Permanent Build</a>
                            </li>
                            <li>
                                <a href="#">Publication Design</a>
                            </li>
                            <li>
                                <a href="#">Printing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index-3.html">Gallery</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Posters</a>
                            </li>
                            <li>
                                <a href="#">Models</a>
                            </li>
                            <li>
                                <a href="#">Publications</a>
                            </li>
                            <li>
                                <a href="#">Facebook</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="index-4.html">Store</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Publications</a>
                            </li>
                            <li>
                                <a href="#">Posters</a>
                            </li>
                            <li>
                                <a href="#">Leaflets</a>
                            </li>
                            <li>
                                <a href="#">Stock Photos</a>
                            </li>
                            <li>
                                <a href="#">Hardware</a>
                            </li>
                            <li>
                                <a href="#">Free Downloads</a>
                            </li>
                        </ul>
                    </li>c
                    <li>
                        <a href="index-4.html">Support Us</a>
                    </li>
                    <li>
                        <a href="index-4.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="ins2">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="navbar-brand">
                    <a href="./">exhibition islam</a>
                    <small>
                        #pioneers
                    </small>
                </h1>
            </div>
        </div>
    </section>

</header>